{
  "src/**/!(*.test).{ts,tsx,js,jsx}": [
    "npm run precommit:typecheck",
    "npm run precommit:format",
    "npm run precommit:lint"
  ],
  "src/**/*.test.{ts,tsx,js,jsx}": ["npm run precommit:typecheck", "npm run precommit:format", "npm run precommit:test"]
}
